@charset "UTF-8";
.clearfix::after {
  display: block;
  clear: both;
  content: '';
}
.container{
  max-width: 1440px;
}
.header{
  color: #AE7F11;
  font-size: 35px;
  font-weight: 700;
}
.title{
  color: #254088;
  font-size: 30px;
}
.login{
  background-color: #545F68;
  padding: 90px 0px;
  text-align: center;
}
.red{
  color: #DE091C;
}
.row{
  text-align: center;
  width: 600px;
  margin-left: 25%;
}
.login-page{
  text-align: center;
}
.email{
  margin-left: 30px;
  color: #2D2B27;
}
.password{
  margin-left: 10px;
  color: #2D2B27;
}
.btn-login{
  padding: 2px 10px;
  background-color: #158173;
  border-color: transparent;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: 10%;
}
/* register */
.sign-up a{
  color: #0D2E70;
  font-size: 18px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.up-header{
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}
.form-gp{
  width: 500px;
  margin-left: 30%;
}
.sign-btn{
  margin-left: 40%;
}
.sign{
  background-color: #172589;
  padding: 5px 15px;
  color: #ffffff;
  border-color: transparent;
}
input{
  padding: 7px 0px;
  width: 220px;
  border-color: transparent;
}
.radiobutton{
  padding: 0px;
  width: 30px;
}
.address{
  margin-left: 30%;
}
textarea{
  width: 500px;
}
.sign-up{
  margin-left: 10%;
}
label{
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.registersign-up{
  margin-right: 10%;
}
/* ContactUs */
.contactus{
  background-color: #cac2a8;
  width: 800px;
  margin: 0 auto;
}
.contact-txtarea{
  width: 485px;
  padding: 30px 0px;
}
.contact-head{
  margin-left: 3%;
  color: #916d6d;
}
.info-head{
  color:  #916d6d;
  margin-left: 3%;
  font-size: 20px;
}
.name{
  margin-right: 4%;
}
.sendmessage{
  padding: 10px 15px;
  margin-left: 18%;
  background-color: #383c5b;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border-color: transparent;
  margin-bottom: 30px;
}
.contact{
  width: 600px;
  margin-left: 3%;
  padding-bottom: 5%;
}
.contact-form{
  margin-left: 3%;
}
img{
  margin-right: 10px;
}
span{
  font-size: 20px;
}
/* Error */
.error{
  color: #ff0000;
}
table, th, td {
    /* border: 1px solid; */
    /* width: 800px; */
    padding: 20px 20px;
}
table{
  background-color: #FAD7A0;
}
.para{
  color: #AE7F11;
  font-size: 20px;
  padding-left: 20px;
}

/* Bus Booking */
.bus-booking{
  background-color: #FAD7A0;
}
 body{
      background-repeat: no-repeat;
      background-size: cover;
  }
